---

---

<a
	class="py-2 px-3.5 inline-flex gap-1.5 items-center rounded-lg text-zinc-800 font-medium bg-white"
	target="_blank"
	href="https://2gis.kz/astana/search/гостиница%20бекарыс/firm/70000001098166127/71.513244%2C51.150736/tab/reviews?m=71.501143%2C51.105779%2F9.98"
>
	<svg
		width="20"
		height="20"
		viewBox="0 0 20 20"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g clip-path="url(#clip0_3767_514-eoqslg)">
			<rect width="19.0994" height="19.2056" rx="4.42117" fill="white"></rect>
			<path d="M0 0H19.0936V19.2056H0V0Z" fill="#19AA1E"></path>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M0 0H19.0936V6.30164L0 3.30114V0Z"
				fill="#FFB919"></path>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M0 17.1011L19.0936 14.1006V19.1997H0V17.1011Z"
				fill="#82D714"></path>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M0 2.92383L6.66712 3.97312C7.4983 3.44258 8.48275 3.15373 9.54972 3.15373C11.0234 3.15373 12.3498 3.70785 13.3166 4.6864C13.4404 4.81019 13.5524 4.93988 13.6585 5.06957L19.0936 5.92433V6.68477L14.2067 5.91843C14.5722 6.61993 14.7667 7.40395 14.7667 8.19386C14.7667 9.22547 14.5368 10.2512 14.0652 11.2769L14.0534 11.3064L13.853 11.7367H13.3755C12.397 11.7367 11.7426 12.0314 11.3182 12.5561C10.9822 12.9687 10.7935 13.5228 10.7287 14.1241V14.1418L10.7169 14.2361L10.711 14.2774L10.7051 14.3599C10.6815 14.6311 10.6639 14.8551 10.658 15.0437L19.0994 13.7174V14.4778L0 17.4842V16.7238L8.45327 15.3974L8.44738 15.2265V15.1793V15.1557V15.1204C8.43559 14.8551 8.4179 14.5898 8.38843 14.3245L8.38254 14.2656L8.37075 14.1595C8.3118 13.5523 8.11727 12.9923 7.78715 12.5738C7.36861 12.0491 6.72018 11.7485 5.74752 11.7426H5.24645L5.04603 11.3123C4.56265 10.2689 4.32685 9.23726 4.32685 8.19386C4.32685 6.8852 4.8515 5.62369 5.78289 4.6864C5.81236 4.65693 5.83594 4.63335 5.86542 4.60387L0 3.67837V2.92383Z"
				fill="white"></path>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M9.54945 3.90234C12.2139 3.90234 14.0237 5.96556 14.0237 8.19382C14.0237 9.08985 13.8291 10.0153 13.3752 10.9939C10.752 10.9939 10.1036 12.8862 9.97978 14.071L9.97388 14.1477C9.93262 14.5721 9.90904 14.914 9.90315 15.1675L9.18986 15.2795V15.2559C9.18986 14.9847 9.16039 14.6075 9.11323 14.1241V14.1005C9.00123 12.9156 8.36458 10.988 5.71777 10.988C5.26387 10.0153 5.06934 9.08395 5.06934 8.18793C5.06934 5.96556 6.87907 3.90234 9.54945 3.90234Z"
				fill="#0073FA"></path>
		</g>
		<defs>
			<clipPath id="clip0_3767_514-eoqslg">
				<rect width="19.0994" height="19.2056" rx="4.42117" fill="white"></rect>
			</clipPath>
		</defs>
	</svg><span>2ГИС Отзывы</span></a
>
