---

---

<a
	class="py-2 px-3.5 inline-flex gap-1.5 items-center rounded-lg text-zinc-800 font-medium bg-white"
	target="_blank"
	href="https://yandex.kz/maps/org/bekarys/200057495767/reviews/?from=mapframe&ll=71.513326%2C51.150682&utm_source=share&z=16"
>
	<svg
		width="16"
		height="20"
		viewBox="0 0 16 20"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g clip-path="url(#clip0_2964_482-850364)">
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M7.26243e-06 7.9997C7.26243e-06 3.58177 3.58178 0 8.0003 0C12.4182 0 16 3.58177 16 7.9997C16 10.2087 15.105 12.2078 13.6585 13.6555C13.2805 14.0335 12.7689 14.4554 12.2156 14.9125C10.649 16.205 8.74791 17.7739 8.59994 19.3999C8.57022 19.7297 8.33132 20.0001 7.99971 20.0001C7.66869 20.0001 7.42979 19.7297 7.40007 19.3999C7.25209 17.7739 5.35097 16.205 3.78443 14.9125C3.23174 14.4554 2.72006 14.0335 2.34209 13.6555C0.840024 12.1569 -0.00285429 10.1215 7.26243e-06 7.9997ZM10.8006 8.00029C10.8231 9.54668 9.58777 10.8185 8.04138 10.8411C6.495 10.8636 5.22314 9.62825 5.20062 8.08187C5.20022 8.05468 5.20022 8.02748 5.20062 8.00029C5.22314 6.45391 6.495 5.21857 8.04138 5.2411C9.55602 5.26316 10.7785 6.48566 10.8006 8.00029Z"
				fill="url(#paint0_linear_2964_482-457673)"></path>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M7.26243e-06 7.9997C7.26243e-06 3.58177 3.58178 0 8.0003 0C12.4182 0 16 3.58177 16 7.9997C16 10.2087 15.105 12.2078 13.6585 13.6555C13.2805 14.0335 12.7689 14.4554 12.2156 14.9125C10.649 16.205 8.74791 17.7739 8.59994 19.3999C8.57022 19.7297 8.33132 20.0001 7.99971 20.0001C7.66869 20.0001 7.42979 19.7297 7.40007 19.3999C7.25209 17.7739 5.35097 16.205 3.78443 14.9125C3.23174 14.4554 2.72006 14.0335 2.34209 13.6555C0.840024 12.1569 -0.00285429 10.1215 7.26243e-06 7.9997ZM10.8006 8.00029C10.8231 9.54668 9.58777 10.8185 8.04138 10.8411C6.495 10.8636 5.22314 9.62825 5.20062 8.08187C5.20022 8.05468 5.20022 8.02748 5.20062 8.00029C5.22314 6.45391 6.495 5.21857 8.04138 5.2411C9.55602 5.26316 10.7785 6.48566 10.8006 8.00029Z"
				fill="#FF4433"></path>
		</g>
		<defs>
			<linearGradient
				id="paint0_linear_2964_482-457673"
				x1="8"
				y1="0"
				x2="8"
				y2="20.0001"
				gradientUnits="userSpaceOnUse"
			>
				<stop stop-color="#FF6122"></stop>
				<stop offset="1" stop-color="#F22411"></stop>
			</linearGradient>
			<clipPath id="clip0_2964_482-850364">
				<rect width="16" height="20.0001" fill="white"></rect>
			</clipPath>
		</defs>
	</svg><span>Яндекс Картах</span></a
>
